<div class="tw-container-section">
  @if (isLoadingInsights) {
    <app-loading></app-loading>
  } @else {

    <!-- ----------------------------------------------------------------------- -->
    <!-- SEÇÃO DE FAVORITOS -->
    <div class="pb-4 ml-4">
      <span class="font-semibold text-sm text-slate-500">INSIGHTS <span class="font-normal">- Filmes Favoritos</span></span>
    </div>

    <div class="grid mt-[-8px] grid-cols-4 gap-4">

      <!-- Filme Mais Favoritado do Mês -->
      <app-movie-card
        [movie]="favorites().mostFavoriteMovieOfTheMonth[0]"
        cardType="Favoritado"
        [highlight]=true
        rankType=""
      ></app-movie-card>
      
      <!-- Top 3 Filmes Mais Favoritados -->
      <div class="bg-slate-800 rounded-2xl p-4 col-span-2">
        <h3 class="text-lg font-semibold tw-border-theme pb-2 mb-8">Top 3 Filmes Mais Favoritados</h3>
        <div class="top-movies-ranked flex gap-4">
          <app-movie-card
            [movie]="favorites().top3Favorites[0]"
            cardType="Favoritado"
            [highlight]=false
            rankType="gold"
          ></app-movie-card>
          <app-movie-card
            [movie]="favorites().top3Favorites[1]"
            cardType="Favoritado"
            [highlight]=false
            rankType="silver"
          ></app-movie-card>
          <app-movie-card
            [movie]="favorites().top3Favorites[2]"
            cardType="Favoritado"
            [highlight]=false
            rankType="bronze"
          ></app-movie-card>
        </div>
      </div>

      <!-- Insights em Mini Cards verticais -->
      <div class="bg-slate-800 rounded-[10px] p-4 shadow-md flex flex-col justify-around gap-3">
        <app-mini-card
          iconType="total-movies"
          title="Filmes Cadastrados"
          [value]="favorites().miniCards.totalMovies"
        ></app-mini-card>
        <app-mini-card
          iconType="marked-as-favorite"
          title='Total de marcações "Favorito"'
          [value]="favorites().miniCards.totalFavoriteMarks"
        ></app-mini-card>
        <app-mini-card
          iconType="marked-as-favorite-percentage"
          title="Percentual de Filmes Favoritados"
          [value]="favorites().miniCards.percentageOfFavorited"
        ></app-mini-card>
      </div>
    </div>

    <!-- ----------------------------------------------------------------------- -->
    <!-- SEÇÃO DE ASSISTIDOS -->
    <div class="pt-4 pb-2 ml-4">
      <span class="font-semibold text-sm text-slate-500">INSIGHTS <span class="font-normal">- Filmes Assistidos</span></span>
    </div>

    <div class="grid grid-cols-4 gap-4">

      <!-- Top 3 Filmes Mais Assistidos -->
      <div class="bg-slate-800 rounded-2xl p-4 col-span-2">
        <h3 class="text-lg font-semibold tw-border-theme pb-2 mb-8">Top 3 Filmes Mais Assistidos</h3>
        <div class="top-movies-ranked flex gap-4">
          <app-movie-card
            [movie]="watched().top3MostWatched[0]"
            cardType="Assistido"
            [highlight]=false
            rankType="gold"
          ></app-movie-card>
          <app-movie-card
            [movie]="watched().top3MostWatched[1]"
            cardType="Assistido"
            [highlight]=false
            rankType="silver"
          ></app-movie-card>
          <app-movie-card
            [movie]="watched().top3MostWatched[2]"
            cardType="Assistido"
            [highlight]=false
            rankType="bronze"
          ></app-movie-card>
        </div>
      </div>

      <!-- Filme Mais Assistido do Mês -->
      <app-movie-card [movie]="watched().mostWatchedOfTheMonth[0]" [highlight]=true cardType="Assistido" labelType="Visualizações" cardSize="large" rankType=""></app-movie-card>

      <!-- Insights em Mini Cards verticais -->
      <div class="bg-slate-800 rounded-[10px] p-4 shadow-md flex flex-col justify-around gap-3">
        <app-mini-card
          iconType="total-views"
          title="Total de Visualizações"
          [value]="watched().miniCards.totalViews"
        ></app-mini-card>
        <app-mini-card
          iconType="user-with-most-views"
          title='Usuário(a) que mais Assistiu Filmes'
          [userAndViews]=true
          [userNameViews]="watched().miniCards.userWhoWatchedTheMostMovies.name"
          [totalViews]="watched().miniCards.userWhoWatchedTheMostMovies.totalViews"
        ></app-mini-card>
        <app-mini-card
          iconType="watched-movies-percentage"
          title="Percentual de Filmes Assistidos"
          [value]="watched().miniCards.percentageOfWatchedMovies"
        ></app-mini-card>
      </div>
    </div>

<!-- ----------------------------------------------------------------------- -->
    <!-- SEÇÃO DE AVALIAÇÕES -->
    <div class="pt-4 pb-2 ml-4">
      <span class="font-semibold text-sm text-slate-500">INSIGHTS <span class="font-normal">- Filmes Avaliados</span></span>
    </div>

    <div class="grid grid-cols-4 gap-4">

      <!-- Filme Mais Bem Avaliado do Mês -->
      <app-movie-card [movie]="ratings().mostRatedMovieOfTheMonth[0]" [highlight]=true cardType="Avaliado" rankType=""></app-movie-card>

      <!-- Top 3 Filmes Mais Avaliados -->
      <div class="bg-slate-800 rounded-2xl p-4 col-span-2">
        <h3 class="text-lg font-semibold tw-border-theme pb-2 mb-8">Top 3 Filmes Com Melhores Avaliações</h3>
        <div class="top-movies-ranked flex gap-4">
          <app-movie-card
            [movie]="ratings().top3Ratings[0]"
            cardType="Avaliado"
            [highlight]=false
            rankType="gold"
          ></app-movie-card>
          <app-movie-card
            [movie]="ratings().top3Ratings[1]"
            cardType="Avaliado"
            [highlight]=false
            rankType="silver"
          ></app-movie-card>
          <app-movie-card
            [movie]="ratings().top3Ratings[2]"
            cardType="Avaliado"
            [highlight]=false
            rankType="bronze"
          ></app-movie-card>
        </div>
      </div>

      <!-- Insights em Mini Cards verticais -->
      <div class="bg-slate-800 rounded-[10px] p-4 shadow-md flex flex-col justify-around gap-3">
        <app-mini-card
          iconType="total-ratings"
          title='Total de Avaliações'
          [value]="ratings().miniCards.totalRatings"
        ></app-mini-card>
        <app-mini-card
          iconType="ratings-three-stars"
          title="Média Geral de Avaliações"
          [value]="ratings().miniCards.overallRatingAverage"
        ></app-mini-card>
        <app-mini-card
          iconType="user-with-most-ratings"
          title="Usuário(a) que Mais Avaliou Filmes"
          [userAndRatings]=true
          [userNameRatings]="ratings().miniCards.userWhoRatedTheMostMovies.name"
          [totalRatings]="ratings().miniCards.userWhoRatedTheMostMovies.total"
        ></app-mini-card>
      </div>
    </div>
  }
</div>
