<header class="bg-slate-900 w-full select-none">
  <nav class="flex justify-between items-center px-10 py-3">
    <a href="#">
      <span class="text-2xl text-white font-medium">FAVMOVIES</span>
    </a>
    @if (showAdminPanel) {
      <span class="text-xl text-white">Painel Administrativo</span>
    }
    <ul class="flex row gap-6 items-center">
      @if (showUserProfile) {
        <li>
          <app-user-profile></app-user-profile>
        </li>
      }
      @if (showAdminPanel || showUserProfile) {
        <li>
          <button (click)="logout()" type="button" class="primary-button flex items-center gap-3">
            <ng-icon name="bootstrapBoxArrowRight" />
            SAIR
          </button>
        </li>
      } @else {
        <li>
          <app-login-form></app-login-form>
        </li>
      }
    </ul>
  </nav>
</header>