<div class="login-page">
  <div class="filter-30">
    <app-header class="w-full"></app-header>
    <main class="rounded-lg shadow-lg px-10 mx-20">
      <div class="flex flex-row justify-center items-center text-white mx-10">
        <div class="flex flex-col w-[50%] mr-10">
          <h1 class="text-4xl md:text-5xl text-center mb-6 font-bold">
            Bem-vindo ao FAVMOVIES
          </h1>
          <p class="text-3xl md:text-4xl font-light text-center mb-6 leading-snug">
            Descubra. Assista. <strong class="font-medium">Favorite.</strong>
          </p>
          <p class="mb-6 text-center">
            Entre no universo dos maiores sucessos do cinema!
            <br>
            <strong>Crie sua conta</strong> agora mesmo e fique por dentro dos lançamentos dos filmes <strong>MAIS ÉPICOS</strong> todos os tempos.
          </p>
        </div>
        <app-register-form></app-register-form>
      </div>  
    </main>
    <app-footer class="w-full"></app-footer>
  </div>
</div>