<div class="flex flex-col w-full max-w-md bg-white/10 backdrop-blur-lg rounded-lg px-8 py-6 mx-auto shadow-lg">
  <h2 class="text-xl text-center mb-10">
    Faça seu cadastro e tenha acesso imediato.
    <br>
    <strong>A sua aventura começa agora!</strong>
  </h2>
  <form
    [formGroup]="registerForm"
    (ngSubmit)="onSubmitRegister()"
    class="flex flex-col md:flex-nowrap items-center gap-3"
    >
    <div class="flex flex-col">
      <input
        type="text"
        id="name"
        name="name"
        formControlName="name"
        placeholder="Digite seu nome"
        class="border border-slate-300 placeholder:text-slate-400 outline-none focus:outline-none"
        [ngClass]="{
          'ring-1 ring-green-500 focus:ring-1 focus:ring-green-500': registerForm.controls['name'].valid && registerForm.controls['name'].touched
        }"
        required
        autocomplete="name"
      />
      @if (registerForm.controls['name'].invalid && registerForm.controls['name'].touched) {
        <div class="absolute top-full mt-1 z-10 left-0 bg-red-500 text-white text-xs rounded px-3 py-1 shadow">
          @if (registerForm.controls['name'].hasError('required')) {
            <div>Nome é obrigatório.</div>
          }
          @if (registerForm.controls['name'].hasError('minlength')) {
            <div>Nome deve ter pelo menos 6 caracteres.</div>
          }
          @if (registerForm.controls['name'].hasError('maxlength')) {
            <div>Nome deve ter no máximo 30 caracteres.</div>
          }
        </div>
      }
    </div>

    <div class="flex flex-col">
      <input
        type="email"
        id="email"
        name="email"
        formControlName="email"
        placeholder="Digite seu e-mail"
        class="border border-slate-300 placeholder:text-slate-400 outline-none focus:outline-none"
        [ngClass]="{
          'ring-1 ring-green-500 focus:ring-1 focus:ring-green-500': registerForm.controls['email'].valid && registerForm.controls['email'].touched
        }"
        required
        autocomplete="email"
      />
      @if (registerForm.controls['email'].invalid && registerForm.controls['email'].touched) {
        <div class="absolute top-full mt-1 z-10 left-0 bg-red-500 text-white text-xs rounded px-3 py-1 shadow">
          @if (registerForm.controls['email'].hasError('required')) {
            <div>Email é obrigatório.</div>
          }
          @if (registerForm.controls['email'].hasError('email')) {
            <div>Email inválido.</div>
          }
        </div>
      }
    </div>

    <div class="flex flex-col">
      <input
        type="password"
        id="password"
        name="password"
        formControlName="password"
        placeholder="Digite sua senha"
        class="border border-slate-300 placeholder:text-slate-400 outline-none focus:outline-none"
        [ngClass]="{
          'ring-1 ring-green-500 focus:ring-1 focus:ring-green-500': registerForm.controls['password'].valid && registerForm.controls['password'].touched
        }"
        required
        autocomplete="current-password"
      />
      @if (registerForm.controls['password'].invalid && registerForm.controls['password'].touched) {
        <div class="absolute top-full mt-1 z-10 left-0 bg-red-500 text-white text-xs rounded px-3 py-1 shadow">
          @if (registerForm.controls['password'].hasError('required')) {
            <div>Senha é obrigatória.</div>
          }
          @if (registerForm.controls['password'].hasError('minlength')) {
            <div>Senha deve ter pelo menos 6 caracteres.</div>
          }
          @if (registerForm.controls['password'].hasError('maxlength')) {
            <div>Senha deve ter no máximo 30 caracteres.</div>
          }
          @if (registerForm.controls['password'].hasError('pattern')) {
            <div>A senha deve conter: Letras minúsculas, maiúsculas, números e caracteres especiais.</div>
          }
        </div>
      }
    </div>
  
    <button
      type="submit"
      class="primary-button mt-5"
      [disabled]="registerForm.invalid"
    >
      Registrar
    </button>
  </form>
</div>