<section class="container-section">
  <div class="pb-2 ml-4">
    <span class="font-semibold text-sm text-slate-500">MOVIES</span>
  </div>

  <div class="bg-slate-800 rounded-2xl p-4">
    
    <!-- FILTRO DE BUSCA -->
    <div class="flex justify-between items-center mb-4">
      <form (ngSubmit)="filterMovieList()" class="flex gap-2">
        <input
          type="text"
          placeholder="Pesquisar filme..."
          [(ngModel)]="searchFilter"
          name="search"
          class="border border-slate-300 text-slate-200! font-bold placeholder:font-normal placeholder:text-slate-400 outline-none focus:outline-none px-3 py-2 rounded"
        >
        <button type="submit" class="secondary-button">Pesquisar</button>
      </form>
      <button class="primary-button" (click)="openModal('REGISTER')">Adicionar Filme</button>
    </div>
    
    <!-- ÚLTIMA BUSCA REALIZADA -->
    <div *ngIf="lastMovieSearch" class="my-3 text-sm text-slate-400">
      Última busca: <strong>{{ lastMovieSearch }}</strong>
      <a (click)="clearSearch()" class="text-blue-500 hover:underline ml-2 cursor-pointer">Limpar busca</a>
    </div>    

    <!-- TABELA DE FILMES -->
    <div class="card">
      <table class="table-auto w-full">
        <thead>
          <tr>
            <th>#</th>
            <th>Imagem</th>
            <th>Título</th>
            <th>Categorias</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let movie of filteredAndPaginatedMovieList; let i = index" class="hover:bg-teal-900 transition duration-200">
            <td (click)="openModal('DETAILS', movie)">
              <div class="flex items-center justify-center gap-2 cursor-pointer">
                <span>{{ i + 1 }}</span>
              </div>
            </td>
            <td (click)="openModal('DETAILS', movie)">
              <div class="flex items-center justify-center gap-2 cursor-pointer">
                <img [src]="movie.imageUrl" alt="Poster" class="movie-poster" width="80">
              </div>
            </td>
            <td (click)="openModal('DETAILS', movie)">
              <div class="cell-flex table-width-title cursor-pointer">
                <span class="ellipsis-text"> {{ movie.title }} </span>
              </div>
            </td>
            <td (click)="openModal('DETAILS', movie)">
              <div class="cell-flex table-width-category cursor-pointer">
                <span class="ellipsis-text"> {{ movie.category.join(', ') }} </span>
              </div>
            </td>
            <td class="">
              <div class="flex gap-2 items-center justify-center gap-2">
                <button
                  class="secondary-button"
                  (click)="openModal('EDIT', movie)"
                >
                  Editar
                </button>
                <button
                  class="danger-button"
                  (click)="openModal('DELETE', movie)"
                >
                  Excluir
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- PAGINAÇÃO -->
      <app-pagination
        [currentPage]="currentPage"
        [totalPages]="totalPages"
        (pageChange)="handlePageChange($event)"
      ></app-pagination>
    </div>    
  </div>

  <app-details-modal
    *ngIf="isDetailsModalOpen"
    [selectedMovie]="selectedMovie"
    [closeModal]="closeModal.bind(this)"
  ></app-details-modal>

  <app-form-modal
    *ngIf="isRegisterModalOpen || isEditModalOpen"
    [selectedMovie]="selectedMovie"
    [closeModal]="closeModal.bind(this)"
    [isEditModalOpen]="isEditModalOpen"
    [isRegisterModalOpen]="isRegisterModalOpen"
    class="modal fixed inset-0 flex items-center justify-center bg-slate-950/80"
  ></app-form-modal>

  <app-delete-modal
    *ngIf="isDeleteModalOpen"
    [closeModal]="closeModal.bind(this)"
    [selectedMovie]="selectedMovie"
    class="modal fixed inset-0 flex items-center justify-center bg-slate-950/80"
  ></app-delete-modal>
</section>